<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         stopOnRisky="true"
         verbose="true">
	<testsuites>
		<testsuite name="controllers">
			<file>tests/MainControllerTest.php</file>
			<file>tests/DefaultControllerTest.php</file>
			<file>tests/ConfigControllerTest.php</file>
			<file>tests/DatabaseControllerTest.php</file>
			<file>tests/InstallerControllerTest.php</file>
			<file>tests/CacheControllerTest.php</file>
			<file>tests/AuditControllerTest.php</file>
			<file>tests/HttpRouterControllerTest.php</file>
			<file>tests/JobsControllerTest.php</file>
			<file>tests/RequirementsControllerTest.php</file>
			<file>tests/RpcControllerTest.php</file>
			<file>tests/ViewsControllerTest.php</file>
			<file>tests/TemplatesControllerTest.php</file>
			<file>tests/MessageBusController.php</file>
			<file>tests/SessionControllerTest.php</file>
			<file>tests/ExceptionControllerTest.php</file>
			<file>tests/PagingControllerTest.php</file>
		</testsuite>
		<testsuite name="models">
			<file>tests/DefaultModelTest.php</file>
			<file>tests/AuditEntryModelTest.php</file>
			<file>tests/AuditLogModelTest.php</file>
			<file>tests/JobModelTest.php</file>
			<file>tests/JobsModelTest.php</file>
			<file>tests/MessageModelTest.php</file>
			<file>tests/MessageBusModelTest.php</file>
		</testsuite>
		<testsuite name="views">
			<file>tests/DefaultViewTest.php</file>
			<file>tests/MainViewTest.php</file>
		</testsuite>
   </testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>

    <php>
        <const name="PHPUNIT_THALLIUM_TESTSUITE_ACTIVE" value="1" />
    </php>
</phpunit>
