<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         stopOnRisky="true"
         verbose="true">
    <testsuite>
        <file>tests/MainControllerTest.php</file>
        <file>tests/DefaultControllerTest.php</file>
        <file>tests/ConfigControllerTest.php</file>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>

    <php>
        <const name="PHPUNIT_THALLIUM_TESTSUITE_ACTIVE" value="1" />
    </php>
</phpunit>
